{% extends 'base.html.twig' %}

{% block title %}Timber index{% endblock %}

{% block body %}
    <h1>Timber index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for timber in timbers %}
            <tr>
                <td>{{ timber.id }}</td>
                <td>{{ timber.name }}</td>
                <td>
                    <a href="{{ path('timber_show', {'id': timber.id}) }}">show</a>
                    <a href="{{ path('timber_edit', {'id': timber.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('timber_new') }}">Create new</a>
{% endblock %}
